.Polaris-Page-Header--noBreadcrumbs {
    width: 100%;
}

.Polaris-InlineGrid {
    width: 100%;
    .Polaris-Box {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}

.Polaris-Frame__Content {
    background-color: white;
}

.Polaris-ResourceItem {
    background-color: white !important;
}
