@import "../index.scss";

.Polaris-Box {
    display: flex;
    justify-content: space-between;
}

.todo__button--group {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.done__tag {
    .Polaris-Tag {
        background-color: $color-primary;
        color: white;
    }
}

.Polaris-InlineGrid {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.Polaris-Modal-Section {
    width: 100%;
    div {
        width: 100%;
    }
    .Polaris-Connected {
        width: 100%;
    }
}

.Polaris-Modal-Dialog--sizeSmall {
    .Polaris-Box {
        display: flex;
        justify-content: end;

        .Polaris-Button--primary {
            background-color: $color-primary;
        }
    }
}
